<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="../static/loginpages.css">
</head>

{% block content %}
<img src="static/images/logo.png" class="logo">
<h1 class="page-title" >Change Password</h1>

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li style="color: {{ 'red' if category == 'error' else 'green' }};">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<form method="POST" novalidate>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="form-row">
      <label for="current_password">Current password:</label>
      <input type="password" name="current_password" id="current_password" autocomplete="current-password" required>
      {% if errors and errors.get('password') %}
        {% for error in errors.get('password') %}
          <span style="color: red; font-size: 13px;">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <div class="form-row">
      <label for="new_password">New password:</label>
      <input type="password" name="new_password" id="new_password" autocomplete="current-password" required>
      {% if errors and errors.get('new_password') %}
        {% for error in errors.get('new_password') %}
          <span style="color: red; font-size: 13px;">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <p>
        <button type="submit" class="button">Change Password</button>
    </p>
</form>

{% endblock %}