{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Dashboard</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li style="color: {{ 'red' if category == 'error' else 'green' }};">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<div class="dashboard-box">
  <p>Tracking:</p>

  <ul>
    {% if user.alcohol_streak_start is not none %}
      <li>
        Alcohol<br>
        Current streak: {{ current_alcohol_streak }} days
      </li>
    {% endif %}

    {% if user.nicotine_streak_start is not none %}
      <li>
        Nicotine<br>
        Current streak: {{ current_nicotine_streak }} days
      </li>
    {% endif %}

    {% if user.narcotics_streak_start is not none %}
      <li>
        Narcotics<br>
        Current streak: {{ current_narcotics_streak }} days
      </li>
    {% endif %}
  </ul>
</div>

{% endblock %}
