{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<h1 class="page-title" >Profile</h1>

  <!-- LOGOUT -->
  <a href="{{ url_for('main.logout') }}">
    <button class="main-btn">Log Out</button>
  </a>

 <!-- USER INFO -->
  <div class="input-group">
    <label>First Name:</label>
    <input type="text" value="{{ user.username }}" disabled>
  </div>

  <div class="input-group">
    <label>Email:</label>
    <input type="text" value="{{ user.email }}" disabled>
  </div>

  <!-- HABITS FORM -->
  <form method="POST" action="{{ url_for('main.update_habits') }}">

    <div class="habit-container">

      <button type="submit" name="habit" value="alcohol"
        class="habit-btn {% if user.alcohol %}active{% endif %}">
        Alcohol
      </button>

      <button type="submit" name="habit" value="nicotine"
        class="habit-btn {% if user.smoking %}active{% endif %}">
        Nicotine
      </button>

      <button type="submit" name="habit" value="narcotics"
        class="habit-btn {% if user.narcotics %}active{% endif %}">
        Narcotics
      </button>

    </div>

  </form>

  <!-- SAVE + PASSWORD -->
  <button class="main-btn">Save Changes</button>

  <a href="{{ url_for('main.change_password') }}">
    <button class="main-btn">Change Password</button>
  </a>



</div>

{% endblock %}